.content-area-vertical {
    flex: 1.5;
    width: var(--breakpoint-mobile);
    // width: 500px;
    text-align: left;

    > h3 {
        font-size: var(--size-h3);
        color: var(--black);
        font-weight: 500;
    }

    > p {
        font-size: var(--size-h1-p);
        color: var(--black-light);
        // text-align: left;
    }
    position: relative;
    z-index: 1;

    padding: 50px;
}


.textbox-horizontal {
    flex: 1;
    text-align: left;


}

.content-area-vertical::before {
    content: ''; /* Essential for pseudo-elements */
    position: absolute; /* Position relative to the parent .triangle-container */
    top: 0;
    left: 0;
    width: 100%; /* Make it fill the width of the container */
    height: 100%; /* Make it fill the height of the container */
    background-color: var(--accent-lighter); /* Color the background element */
    z-index: 0; /* Ensure it's behind the content */
    clip-path: polygon(0% 0%, 20% 0%, 80% 100%, 0% 100%);
}


.content-text {
    font-size: 1.5em;
    color: var(--black-light);
    text-align: left;
}

.image-area-vertical {
    flex: 1;
    margin: 30px;
}

.image-area-horizontal {
    flex: 1;
    width: 100%;

    > a > img {
        width: 70%;
        margin: 0 auto;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px; /* Adjust as needed for spacing between your columns */
  max-width: 1200px; /* Or whatever max-width your content should have */
  margin: 0 auto; /* Centers the grid container */
  // padding: 20px; /* Add some padding around the container if necessary */
}

.grid-item {
  // padding: 10px;
  /* This is the key change for centering content within each item */
  text-align: left;
  /* Optional: You can also use flexbox inside the grid item if you need more complex vertical alignment or distribution */
  /* display: flex; */
  /* flex-direction: column; */
  // align-items: left;
  display: flex; /* Make the grid item a flex container */
  flex-direction: column; /* Stack children vertically */
  /* Optional: Control how remaining space is distributed */
  justify-content: flex-start;
}

.grid-item h4 {
  font-size: 1.5em; /* Adjust font size as needed */
  min-height: 3em;
  // margin-top: 0;
  // margin-bottom: 10px;
}

.grid-item p {
  font-size: 1.2em; /* Adjust font size as needed */
  color: var(--black-light);
}

/* Optional: Media queries for responsiveness (same as before) */
@media (max-width: var(--breakpoint-mobile)) {
  .grid-container {
    grid-template-columns: 1fr; /* 2 columns on medium screens */
  }
}



@media (max-width: var(--breakpoint-mobile)) {
    .content-area-vertical, .image-area-vertical {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-area-vertical {
        order: 2;
        padding: var(--spacing-mobile);
    }

    .image-area-vertical {
        order: 1;
    }
}