// Default variable overrides

:root {
  --title-black: #333;
  --title-accent: #666;
}

// scss-docs-start theme-color-variables
$primary:       #0d6efd;
$secondary:     #6c757d;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;
// scss-docs-end theme-color-variables

// Your variable overrides
$body-bg: #fff;
$body-color: #212529;

$primary: #c2c747;
$secondary: #e68935;
$accent: #c2c747;

$background_white: #f8f9fa;

