// you can change these three
$c: gainsboro; // grid lines
$d: 1em; // grid cell size
$l: 0.2px; // line thickness

// computed value, don't change
$o: .5*$l;

.background-pattern {
	background: 
		/* horizontal and vertical lines */
		conic-gradient(from 90deg at $l $l, 
				#0000 25%, $c 0%) 
			#{-1*$o -1*$o}/ #{$d $d}, 
		/* main diagonal */
		linear-gradient(45deg, 
				#0000 calc(50% + -1*#{$o}), 
				$c 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$d 2*$d}, 
		/* secondary diagonal */
		linear-gradient(-45deg, 
				#0000 calc(50% + -1*#{$o}), 
				$c 0 calc(50% + #{$o}), #0000 0) 0 0/ #{2*$d 2*$d}
}






.container-base {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 20px;

    box-sizing: border-box;
    
    // width: 100%;
    // height: 100%;

    display: flex;
    flex-direction: column;
    // min-height: 60vh;
}

.section-grey {
    background: linear-gradient(135deg, #f0f0f0 0%, #ffffff 100%);
}


.wide-text {
    padding: 20px;
    text-align: justify;
    

}

.logo-big {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 50px;
    border-radius: 0px;
    padding: 0 30px;
}

.logo-bigger {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 60px;
    border-radius: 0px;
    padding: 0 30px;
}


.wide-image {
    max-width: 100%; /* Ensure it doesn't exceed the container */
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

img {
  max-width: 100%; /* ensure images don't overflow their containers */
  height: auto; /* maintain aspect ratio */
  display: block; /* removes extra space below image */
  border-radius: 12px;
}

section {
    padding: var(--spacing-desktop);
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: var(--breakpoint-mobile)) {
    section {
        padding: var(--spacing-mobile);
    }
}

.row {
    display: flex;
    flex-direction: row;
    // margin-bottom: var(--spacing-tablet);
    gap: var(--spacing-tablet);
    align-items: center;
    // max-width: 100%;
    // margin-right: 0;
    // margin-left: 0;
    // margin-top: 0;

    &.reverse {
        flex-direction: row-reverse;
    } 
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
}

.team {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    // margin: 0 auto;
}


.content-area, .image-area {
    flex: 1;
    // transition: transform var(--transition-speed), opacity var(--transition-speed);
}

.image-area {
    flex: 1;
}




.content-accordion {
    flex: 2;
}

.content-area {
    // padding: var(--spacing-tablet);
    padding: 20px;
}

.content-text u {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 6px; 
}

.image-area img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    // box-shadow: 0 8px 20px var(--shadow-color);
    // transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

//.image-area:hover img {
    // transform: translateY(-5px);
    // box-shadow: 0 12px 25px var(--shadow-color);
//}

@media (max-width: var(--breakpoint-mobile)) {
    .row, .row.reverse {
        flex-direction: column;
        gap: var(--spacing-mobile);
        margin-bottom: 0;
    }

    .content-area, .image-area {
        width: 100%;
        // display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content-area {
        order: 2;
        padding: var(--spacing-mobile);
    }

    .hero-content {
        order: 2;
        padding: var(--spacing-mobile);
    }

    .image-area {
        order: 1;
    }


}
.text-decoration {
    text-decoration: underline;
    color: var(--primary);
}


/* Show hover text on image hover */
// Hover Effect for Images with Text Overlay (Lehre-Navi)
// kann raus, falls nicht benutzt beim Lehre-Navi
// .hover-image-link {
//   position: relative;
//   display: block; // changed from inline-block
//   width: 100%;    // ensures it fills the container
// }

// .hover-image-link .hover-text {
//   display: none;
//   position: absolute;
//   left: 50%;
//   top: 20%;
//   transform: translateX(-50%);
//   background: rgba(0,0,0,0.8);
//   color: #fff;
//   padding: 6px 12px;
//   border-radius: 4px;
//   white-space: nowrap;
//   margin-top: 8px;
//   z-index: 10;
//   font-size: 0.95em;
// }

// .hover-image-link:hover .hover-text,
// .hover-image-link:focus .hover-text {
//   display: block;
// }