/* Title container */
.page-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 2rem 1rem;
  text-align: center;

  /* Main title */
  > .page-title {
    position:relative;
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: 0.5em;
    color: var(--title-black);
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 4px;
      background-color: $primary;
      border-radius: 2px;
      
    }

  }

  /* Subtitle */
  > .page-subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 800px;
    color: var(--title-accent);
    font-weight: normal;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .page-title-container {
    padding: 1.5rem 1rem;
  }
}

$landing_text_size: 1.2rem;