// variables
:root {
  --size-h1: 3rem;
  --size-h1-p: 1.5rem;


  --size-h2: 2.5rem;
  --size-h3: 2rem;
  --size-h4: 1.5rem;
  --size-h5: 1.2rem;


}



// Kommentare



html {
  font-size: 16px; // Set the root font size (example)
}

body {
  font-family: BlinkMacSystemFont,-apple-system,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,helvetica,arial,sans-serif;
  line-height: 1.5;
  // text-align: center;
}

p {
  font-size: 1.3em;
  color: var(--black);
  line-height: 1.5;
  margin-bottom: 20pt;

}


// <h> Typographies

// page title h1
h1 {
  color: var(--black);  
  font-size: var(--size-h1);
  font-weight: 750;
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
  line-height: 1.1em;
  
}

h1 + p {
  font-size: var(--size-h1-p);
  color: var(--black-light);
  font-weight: 400;
  
}

// section title h2


/* Title container */
// .page-title-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // min-height: 30vh;
//   padding: 2rem 1rem;
//   text-align: center;
// }

div.section-title > a {
  text-decoration: none;
  color: inherit; // inherit color from parent
  display: block; // make the link a block element
}


div.section-title > h2, div.section-title > a > h2 {
  color: var(--black);
  font-size: var(--size-h2);
  font-weight: bold;
  position: relative;
  margin-bottom: 0.5em;
  padding-top: 2rem;
  text-decoration: none;
}

h2 + p, a:has(> h2) + p {
  font-size: 1.8em;
  color: var(--black-light);
  font-weight: 600;
  line-height: 140%;
  padding-top: 2rem;
}

div.section-title > h2, div.section-title > a > h2 {
  &::after {
      content: "";
      position: absolute;
      bottom: -28px;
      left: 50%;
      transform: translateX(-50%);
      width: 120px;
      height: 4px;
      background-color: var(--black);
      border-radius: 2px;
    }
}

// div.section-title > a {
//   &:hover::after {
//     background-color: var(--primary);
//   }
// }

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: var(--breakpoint-mobile);;
}

// speaking title h3
h3 {
  color: var(--black);  
  font-size: var(--size-h3);
  font-weight: bold;
  // margin-top: var(--spacing-mobile);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
}

h3 + p {
  font-size: 1.2em;
  color: var(--black-light);
}

h3 + ul li {
  font-size: 1.2em;
  color: var(--black-light);
  margin-bottom: var(--spacing-mobile);
}

// detail title h4
h4 {
  color: var(--black);  
  font-size: var(--size-h4);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 130%;
}

h4 + p {
  font-size: 1em;
  color: var(--black-light);
}

// optional title h5
h5 {
  color: var(--black-light);  
  font-size: var(--size-h5);
  margin-bottom: var(--spacing-tablet);
  position: relative;
  display: inline-block;
}

// h5 + p {
//   font-size: 1em;
//   color: var(--black-light);
// }

@media (max-width: var(--breakpoint-mobile)) {
  h1 {
    font-size: 2.5em;
  }
  h1 + p {
    font-size: 1em;
  }

  h2 {
      font-size: 2em;
  }
  h2 + p {
      font-size: 1em;
  }

  h3 {
      font-size: 1.5em;
      margin-bottom: var(--spacing-mobile);
      text-align: center;
      display: block;
  }
  h3 + p, h3 + ul li {
      font-size: 1em;
  }
}


// add for animations
// .content-area h2::after {
//     content: '';
//     position: absolute;
//     bottom: -5px;
//     left: 0;
//     width: 0;
//     height: 3px;
//     background-color: var(--black);
//     transition: width var(--transition-speed);
// }

// .row:hover .content-area h2::after {
//     width: 100%;
// }


.uppercase {
  text-transform: uppercase;
  color: #666;
  font-weight: 500;
}