// Default variable overrides

:root {
  --title-black: #333;
  --title-accent: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition-speed: 0.5s;
  --spacing-mobile: 0.5rem;
  --spacing-tablet: 1rem;
  --spacing-desktop: 1.5rem;
  --border-radius-desktop: 15px;
}

// scss-docs-start theme-color-variables
$primary:       #0d6efd;
$secondary:     #6c757d;
$success:       #198754;
$info:          #0dcaf0;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #212529;
// scss-docs-end theme-color-variables

// Your variable overrides
$body-bg: #fff;
$body-color: #212529;

$primary: #c2c747;
$secondary: #e68935;
$accent: #74c5c9;

$background_white: #f8f9fa;



$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

$max-width: 1200px;

