// Global CSS Variables

:root {
  // Colors
  // --title-black: #333;
  // --title-accent: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --black-full: #000;
  --black: #333;
  --black-light: #666;
  --black-lighter: #999;

  --white: #fdfdfd;
  --white-dark: #fafafa;


  --background-white: #f8f9fa;


  //Colors David
  //--primary: rgba(0, 183, 255, 1);;
  //--primary-light: rgba(0, 183, 255, 0.8);
  //--primary-lighter: rgba(0, 183, 255, 0.5);

  //--secondary: rgba(255, 175, 0, 1);

 // --accent: rgba(255, 225, 0, 1);
  //--accent-light: rgba(255, 225, 0, 0.5);
  //--accent-lighter: rgba(255, 225, 0, 0.2);

  
  // Colors Julia
  //Gelbes Theme
  --primary: rgb(255,225,0);;

  --primary-light: rgb(255,242,113);
  --primary-lighter: rgb(255,255,194);

  --primary-dark: rgb(255,205,0);
  --primary-darker: rgb(255,175, 0);

  //Blaues Theme

  --secondary: rgb(0,183,255);;

  --secondary-light: rgb(124,222,255);
  --secondary-lighter: rgb(198,246,255);

  --secondary-dark: rgb(24,146,255);
  --secondary-darker: rgb(31,109,246);


 // Grazes Theme
  --grey-dark: RGB(60,60,60);
  --grey-mid: RGB(160,160,160);
  --grey-light: RGB(241,241,241);
  





  // Spacing
  --spacing-mobile: 0.5rem;
  --spacing-tablet: 2rem;
  --spacing-desktop: 2.5rem;
  --border-radius-desktop: 15px;
  --max-width: 1200px;

  // Transitions
  --transition-speed: 0.5s;

  // Breakpoints
  --breakpoint-mobile: 768px;
}