.accordion {
    // --bs-accordion-border-width: 0; /* Remove border */
    // --bs-accordion-border-radius: 0; /* Remove border radius */
    // --bs-accordion-inner-border-radius: 0; /* Remove inner border radius */
    --bs-accordion-bg: transparent; /* Transparent background */
}

.accordion-item {
    border: none; /* Ensure no item borders */
    margin-bottom: 5px; /* Add a small gap between items for clarity */
}

.accordion-header .accordion-button {
    font-weight: bold; /* Make header text bold */
    background-color: transparent; /* Ensure button background is transparent by default */
    color: var(--bs-body-color); /* Default text color */
    box-shadow: none; /* Remove default box shadow */
    // border-bottom: 1px solid rgba(0, 0, 0, .125); /* Add a subtle separator */
}

// .accordion-header .accordion-button:not(.collapsed) {
//     /* Custom style for active header color */
//     color: var(--bs-primary); /* Set text color to primary color */
//     background-color: transparent; /* Keep background transparent */
//     box-shadow: none; /* Remove box shadow when active */
// }

/* Remove focus outline/box-shadow on button focus */
.accordion-button:focus {
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    font-weight: normal; /* Make body text normal weight */
}