.hero-section {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.hero-description {
    font-size: $landing_text_size; // 1.2rem
    margin-bottom: 2rem;
}

.hero-image {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 767.98px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-image {
        margin: 2rem auto 0;
    }
}