// Exernal scss
@import "_reset";
@import "hover/hover.scss";

// Bootstrap scss
// @import "_bootstrap.scss";

// Base scss
@import "_variables";
@import "_layouts";
@import "_typography";
@import "_codicon";

// SORTIEREN;
@import "icon_block";

// Sections scss
@import "sections/_team";
@import "sections/_navigation-cards";
@import "sections/_navbar";
@import "sections/_footer";
@import "sections/_accordion";
// @import "sections/_timeline_datenwelten";
// @import "sections/_timeline";
@import "sections/_timeline_only";
@import "sections/_publications";


// index sections
@import "sections/index/_hero";
@import "sections/index/_content";