.datenwelten-movie {
    border-radius: 12px;
    aspect-ratio: 16/9; 
    width: 80%;
    
}

.datenwelten-movie-container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.starter-content-area {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

.starter-image-area {
    flex: 1;
}


.dw-uebung-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    // margin-top: 20px;
}

.starter-image-area img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    // box-shadow: 0 8px 20px var(--shadow-color);
    // transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}


.grid-datenwelten-inhalte {
    // display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    row-gap: 0.5em;
    text-align: left;
    // gap: 20px;
    // width: 500px;
}


.grid-dw-events {
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
    // align-items: center;
}


.dw-content {
    display: flex;
    flex-direction: row;
    text-align: justify;
}


.dw-content-card {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    background-color: var(--accent-lighter);
}



.dw-pretitle {
    font-size: var(--size-h5);
    color: var(--black-light);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-align: right;
}

.dw-content-card h3 {
    color: var(--black);
    font-size: var(--size-h3);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.dw-events {
    font-size: 1em;
    color: var(--black-light);

    & p {
        font-size: 1em;
        color: var(--black-light);
        margin-bottom: var(--spacing-tablet);
    }

    & h5 {
        font-size: var(--size-h5);
        color: var(--blacklight);
        text-transform: uppercase;
        text-align: center;
    }

    & a {
        text-decoration: none;
        color: var(--black-light);
    }

    & ul {
        list-style-type: disc;
        margin-left: 1.5em;
        padding-left: 0;
    }

}



.grid-uebung {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-uebung-card {
    background-color: var(--accent-lighter);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.grid-uebung-label {
    text-transform: uppercase;
    text-align: right;
}