.navigation-row {
    gap: 20px;

}



.navigation-card {
    
    color: var(--black);
    transition: all var(--transition-speed) ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(145deg, #ffffff, #f3f3f3);
    // background: var(--primary);
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 18px;
    flex: 1;
    
    

    width: 190px;
    height: auto;

    // width: 250px;
    // height: 250px;
    p {
        font-size: 1.2rem;
        // font-weight: 500;
        // text-transform: uppercase;
        
    }
    

    &:hover {
        transform: translateY(-10px);
        box-shadow: 8px 8px 20px #d1d1d1, -8px -8px 20px #ffffff;
        background: var(--secondary);
    }

    &>div {
        margin-bottom: 1rem;

        &>img {
            width: 32px;
            height: 32px;
            margin: 6pt auto;
        };
    }

}

// a.navigation-card {
//     width: 200px;
// }

// other :hover example: https://uiverse.io/eslam-hany/nasty-zebra-54