.navigation-card {
    color: var(--title-black);
    transition: all var(--transition-speed) ease;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(145deg, #ffffff, #f3f3f3);
    box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: var(--spacing-desktop);
    flex: 1;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 8px 8px 20px #d1d1d1, -8px -8px 20px #ffffff;
        background: $secondary;
    }

    &>div {
        margin-bottom: 1rem;
    }
}

// other :hover example: https://uiverse.io/eslam-hany/nasty-zebra-54