.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &::after {
    content: '';
    position: absolute;
    width: 0.2rem;
    background: #000;
    border-radius: 0.1rem;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.1rem;
  }
}

.container {
  padding: 2rem;
  position: relative;
  width: 50%;

  &.left {
    left: 0;
  }

  &.right {
    left: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%);
    right: calc(-0.5rem - 2px);;
    background: #fff;
    border: 2px solid #000;
    border-radius: 1rem;
    z-index: 1;


  }

  &:nth-of-type(odd)::after {
    background: var(--secondary); // Replace with your desired color
  }

  &:nth-of-type(even)::after {
    background: var(--accent); // Replace with your desired color
  }

  &.right::after {
    left: calc(-0.5rem - 2px);;
  }

  &.no-color::after {
    background: #fff;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    background: #000;
    z-index: 1;
  }

  &.right::before {
    left: 0.5rem;
  }

  > time {
    position: absolute;
    display: inline-block;
    // top: calc(50% - 0.5rem);
    top: 50%;
    transform: translateY(-50%);
    text-align: start;
    font-size: 0.8rem;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }

  &.left > time{
    right: -13.5rem;
  }

  &.right > time{
    left: -12.5rem;
}

  > img {
    position: absolute;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    padding: 9px 0;
    top: calc(50% - 1.5rem);
    border: 2px solid #000;
    color: #000;
    text-align: center;

  }

  &.left > img {
    right: 2rem;
    background: var(--secondary); // Replace with your desired color

    &.second {
        right: 5.5rem;
    }
  }

  &.right > img {
    left: 2rem;
    background: var(--accent); // Replace with your desired color

    &.second {
        left: 5.5rem;
    }
  }
}

.timeline-icon {
  width: 2rem;
}

// @media (max-width: 767.98px) {
//   .timeline::after {
//     left: 90px;
//   }

//   .container {
//     width: 100%;
//     padding-left: 120px;
//     padding-right: 30px;
//   }

//   .container.right {
//     left: 0%;
//   }

//   .container.left::after, 
//   .container.right::after {
//     left: 82px;
//   }

//   .container.left::before,
//   .container.right::before {
//     left: 100px;
//     border-color: transparent #006E51 transparent transparent;
//   }

//   .container.left .date,
//   .container.right .date {
//     right: auto;
//     left: 15px;
//   }

//   .container.left .icon,
//   .container.right .icon {
//     right: auto;
//     left: 146px;
//   }

//   .container.left .content,
//   .container.right .content {
//     padding: 30px 30px 30px 90px;
//     border-radius: 500px 0 0 500px;
//   }
// }