
.info-box {
    border-radius: 12px;
    padding: 20px;
    border: solid 1px var(--black);
    margin-bottom: 20px;
}


.grid-studiprojekte {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1200px; 
    margin: 0 auto;

    & .grid-item {
        display: none;
        display: flex; 
        transition: all 0.3s ease;
        text-align: left;
        
        flex-direction: row;
        justify-content: flex-start;
        border: 1px;

        & h3 {
            font-size: 1em;
            // min-height: 3em;
        }

        & p {
            font-size: 1em;
            color: #666;
            margin-top: 0.5em;
        }
    }
}

.controls {
    max-width: 1200px; 
    padding: 20px;
    background: white;
    
    margin: 0 auto;
    margin-bottom: 20px;
}

.checkbox-group {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper {
    position: relative;
    border: dashed 2px var(--black);
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;

    & > label {
        padding: 10px;
    }
}

/* Style when checkbox is checked */
#toggle-studiprojekte-1:checked ~ .controls .checkbox-wrapper:nth-child(1),
#toggle-studiprojekte-2:checked ~ .controls .checkbox-wrapper:nth-child(2),
#toggle-studiprojekte-3:checked ~ .controls .checkbox-wrapper:nth-child(3),
#toggle-studiprojekte-4:checked ~ .controls .checkbox-wrapper:nth-child(4) {
    background: var(--primary-light);
}

.checkbox-wrapper label {
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

#toggle-studiprojekte-1:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-1,
#toggle-studiprojekte-2:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-2,
#toggle-studiprojekte-3:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-3,
#toggle-studiprojekte-4:not(:checked) ~ .grid-studiprojekte .filter-studiprojekte-4 {
    display: none;
}

