<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-5">
            <!-- <span class="custom-badge text-white mb-3 d-inline-block">Our Services</span> -->
            <h2 class="display-5 fw-bold mb-3">Unsere Projekte</h2>
            <!-- <p class="text-muted">Unsere Arbeit zur Förderung von Digital and Data Literacy</p> -->
            <p class="text-muted fs-4 mb-3">Unsere Arbeit zur Förderung von Digital and Data Literacy</p>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <a href="/datenwelten" class="text-decoration-none">
                <div class="service-card h-100 p-4">
                    <!-- <div class="icon-wrapper mb-4"></div> -->
                    <div class="mb-4 text-center">
                        <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
                    </div>
                    <h4 class="service-title text-center mb-3">Ringvorlesung Datenwelten</h4>
                    <p class="service-text text-center mb-0">Lorem ipsum</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3">
            <a href="/lehrlabore" class="text-decoration-none">
                <div class="service-card h-100 p-4">
                    <div class="mb-4 text-center">
                        <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
                    </div>
                    <h4 class="service-title text-center mb-3">Lehrlabore</h4>
                    <p class="service-text text-center mb-0">Lorem ipsum</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3">
            <a href="/studi-projekte" class="text-decoration-none">
                <div class="service-card h-100 p-4">
                    <div class="mb-4 text-center">
                        <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
                    </div>
                    <h4 class="service-title text-center mb-3">Studi-Projekte</h4>
                    <p class="service-text text-center mb-0">Lorem ipsum</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-3">
            <a href="/gki-community" class="text-decoration-none">
                <div class="service-card h-100 p-4">
                    <div class="mb-4 text-center">
                        <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
                    </div>
                    <h4 class="service-title text-center mb-3">GKI-Community</h4>
                    <p class="service-text text-center mb-0">Lorem ipsum</p>
                </div>
            </a>
        </div>
    </div>
</div>