{{ define "main" }}

<main>
  <div class="container-base">


    <section>
      <div class="row">
        <div class="content-area">
          <h1>DDLitLab</h1>
          <p>Wir stärken die Digital and Data Literacy an der Universität Hamburg – Projekte für mehr Datenkompetenz für Studierende und Lehrende an der Universität Hamburg.</p>
        </div>
        <div class="image-area">
          <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxoZXJvfGVufDB8MHx8fDE3MTIwNzMwNDh8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="Hero Image" class="img-fluid hero-image">
        </div>
      </div>
    </section>

  <section>
    <div class="section-title">
        <h2>Unsere Projekte</h2>
        <p>Unsere Arbeit zur Förderung von Digital and Data Literacy.</p>
    </div>
    <div class="row">
      <a class="navigation-card" href="/datenwelten">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Ringvorlesung</h4>
        <p>Neugierig?</p>
      </a>
      <a class="navigation-card" href="/lehrlabore">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Lehrlabore</h4>
        <p>Lorem ipsum</p>
      </a>
      <a class="navigation-card" href="/studi-projekte">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Studi-Projekte</h4>
        <p>Lorem ipsum</p>
      </a>
      <a class="navigation-card" href="/gki-community">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>GKI-Community</h4>
        <p>Lorem ipsum</p>
      </a>
    </div>
  </section>





  <section>
    <div class="section-title">
        <h2>Unsere Projekte</h2>
        <p>Unsere Arbeit zur Förderung von Digital and Data Literacy.</p>
    </div>
    <div class="row">
      <a class="navigation-card" href="/datenwelten">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Ringvorlesung</h4>
        <p>Neugierig?</p>
      </a>
      <a class="navigation-card" href="/lehrlabore">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Lehrlabore</h4>
        <p>Lorem ipsum</p>
      </a>
      <a class="navigation-card" href="/studi-projekte">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>Studi-Projekte</h4>
        <p>Lorem ipsum</p>
      </a>
      <a class="navigation-card" href="/gki-community">
        <div>
          <img src="/icons/codicons/account.svg" alt="account" width="32" height="32">
        </div>
        <h4>GKI-Community</h4>
        <p>Lorem ipsum</p>
      </a>
    </div>
  </section>

<section>
    <div class="section-title">
        <h2>Unsere Ziele</h2>
        <p>Unsere Arbeit zur Förderung von Digital and Data Literacy.</p>
    </div>
    <div class="row reverse">
        <div class="content-area">
            <h3>Speaking Title</h3>
            <div class="accordion">
              <details>
                <summary>Section 1: HTML Basics</summary>
                <div class="accordion-content">
                  <p>HTML (HyperText Markup Language) is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.</p>
                </div>
              </details>
              
              <details>
                <summary>Section 2: CSS Fundamentals</summary>
                <div class="accordion-content">
                  <p>CSS (Cascading Style Sheets) is a style sheet language used for describing the presentation of a document written in HTML. CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts.</p>
                </div>
              </details>
              
              <details>
                <summary>Section 3: Responsive Design</summary>
                <div class="accordion-content">
                  <p>Responsive web design makes web pages render well on a variety of devices and window or screen sizes. It's an approach to web design that makes web pages render well on a variety of devices and window or screen sizes.</p>
                </div>
              </details>
            </div>
          </div>
        <div class="image-area">
            <img src="https://placehold.co/1200x800.webp?text=1200%20x%20800\nwebp" alt="1200x800">
        </div>
    </div>
</section>



</div>
  </main>

{{ end }}