{{ define "main" }}

<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="hero-title">Wir stärken die Digital and Data Literacy an der Universität Hamburg</h1>
        <p class="hero-description">Projekte für mehr Datenkompetenz für Studierende und Lehrende an der Universität Hamburg.</p>
        <!-- <a href="#" class="btn btn-primary btn-lg">Get Started</a> -->
      </div>
      <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw3fHxoZXJvfGVufDB8MHx8fDE3MTIwNzMwNDh8MA&ixlib=rb-4.0.3&q=80&w=1080" alt="Hero Image" class="img-fluid hero-image">
      </div>
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial "tiles" . }}
</section>


{{ end }}