{{ $publicationIndex := .Get "publication" | int }}
{{ $publication := index site.Data.publications $publicationIndex }}
<div class="publication-card">
  <h5 class="publication-card-title">{{ $publication.title }}</h5>
  <p> 
    {{ $publication.subtitle }} 
  </p> 
  <p class="publication-card-authors">
    <i class="codicon codicon-person publication-icon"></i>
    <span class="uppercase">
      Authors: 
    </span>
    {{ $publication.authors }}
  </p>
  <p class="publication-card-authors">
    {{ $publication.date }}
  </p>
  <a href="{{ $publication.link }}" class="publication-card-link">Go to publication</a>
</div>


